<?xml version="1.0" encoding="utf-8"?>
<log4net>
	<appender name="ApplicationFileAppender" type="log4net.Appender.RollingFileAppender">
		<appendToFile value="true" />
		<datePattern value=".yyyyMMdd.'log'" />
		<encoding value="utf-8" />
		<file value="..\Application-Data\Logs\application-file.log" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] - %level: %message%n" />
		</layout>
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<rollingStyle value="Date" />
		<staticLogFileName value="true" />
	</appender>
	<logger name="MvcApplication.Business.IO.ApplicationFile">
		<appender-ref ref="ApplicationFileAppender" />
		<level value="All" />
	</logger>
	<!--
	<root>
		<appender-ref ref="ErrorFileAppender" />
		<appender-ref ref="InfoFileAppender" />
		<appender-ref ref="WarningFileAppender" />
		<level value="All" />
	</root>
	-->
</log4net>